*, body, html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato';
    background: url(https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107__340.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header > img {
    margin-top: 40px;
    border: solid #eaeaea 2px;
    border-radius: 100%;
}

.header > h2 {
    margin-top: 10px;
    color: aliceblue;
    background-color: #000a;
    border-radius: 40px;
    padding: 5px 15px 8px 15px;
    font-size: 20px;
    font-weight: normal;
    border: solid #fffa 1px;
    backdrop-filter: blur(1px) saturation(200%);
}

.link_list {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 0 20px 0 20px;
}

.link_list > ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 0 20px 0;
    list-style-type: none;
    background-color: #fffa;
    border-radius: 30px;
    padding: 15px 80px 15px 80px;
    max-width: 480px;
    backdrop-filter: blur(5px) saturation(200%);
}

.link_list > ul > li > img {
    width: 20px;
    height: 20px;
}

.link_list > ul > li > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: normal;
    flex-direction: row;
}

footer {
    text-align: center;
    color: aliceblue;
    font-size: 12px;
}

footer > p > a {
    color: lightskyblue;
}